node_moduless

exports.getNome = async (req, res) => {
    try {
        const nome = req.params.nome
        const response = await Beneficiado.findOne({ nome })
        res.status(200).send(response)
    } catch {
        if (!response) {
            return res.status(401).send({ mensagem: `Beneficiado ${response} não encontrado` })
        }
    }
}